@using System.Drawing
@using GMap.Models
@using GMap.Extensions
@using Jmelosegui.Mvc.Googlemap
@using Jmelosegui.Mvc.Googlemap.Overlays

@model IEnumerable<GMap.Models.Jobs>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<hr/>
<div class="effect8">
    @{ Html.GoogleMap()
                    .Name("map")
                    .Height(600)
                    .Center(c => c.Latitude(40)
                                  .Longitude(-3))
                    .BindTo<GMap.Models.Jobs, Marker>
                    (Model, mappings => mappings.For<GMap.Models.Jobs>
                            (
                                binding => binding.ItemDataBound
                                (
                                    (marker, Jobs) =>
                                    {
                                        marker.Latitude = Jobs.Latitudine;
                                        marker.Longitude = Jobs.Longitudine;
                                        marker.Title = Jobs.Titlu;

                                       //there is no images under the "~/Images/flags/"
                                       //marker.Icon = new MarkerImage(String.Format("~/Images/flags/{0}", Jobs.ImagePath)
                                       //                               , new Size(18, 12)
                                       //                               , new Point(0, 0)
                                       //                               , new Point(0, 12));

                                       marker.Window = new InfoWindow(marker)
                                        {
                                            Template =
                                                            {
                                                            Content = () => ViewContext.Writer.Write(Jobs.Titlu)
                                                            }
                                        };
                                    }
                                )
                            )
                    ).Render();
    }
</div>

<hr/>

<h3>Dataset that we want to display from Jobs</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdWho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titlu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Localitate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitudine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitudine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdWho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titlu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Localitate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitudine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitudine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdJob }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdJob }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdJob })
        </td>
    </tr>
}

</table>
@section scripts
{
    @(Html.GoogleMap().ScriptRegistrar())
}