@model IEnumerable<GMap.Models.Candidates>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Experienta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageSRC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titlu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WhereWhat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solicitare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinSal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxSal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Localitate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitudine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitudine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Experienta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageSRC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titlu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WhereWhat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Solicitare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Orar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinSal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxSal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Localitate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitudine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitudine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCV }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCV }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCV })
        </td>
    </tr>
}

</table>
